@import '../abstracts/variables';
@import '../abstracts/mixins';

.aboutme {
  //   background-color: blueviolet;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  padding: 0 100px;
  padding-top: 100px;
  color: $colorFont;
  font-family: $fontPrimary;

  &__content-images {
    order: 1;
    width: 600px;
    height: 750px;
  }

  &__content-text {
    order: 0;
    width: 900px;
    height: 750px;
    opacity: 0;
  }

  &__description {
    width: 633px;
    margin: 0 auto;
    margin-top: 128px;
    font-size: 26px;
    font-family: $fontSecundary;
    text-align: center;
    // background-color: red;
  }

  &__image {
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  &__title {
    // width: 50%;
    display: block;
    width: 400px;
    // background-color: rebeccapurple;
    margin: 0 auto;
    margin-top: 80px;
    font-size: 74px;
    text-align: center;
  }

  .show-fade-bottom {
    @include fade-bottom;
    opacity: 1;
  }

  .show-fade-up {
    @include fade-up;
    opacity: 1;
  }

  &__title::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: $colorFont;
  }
}

@media only screen and (max-width: $screenPhone) {
  .aboutme {
    height: auto;
    // background-color: red;
    padding: 0;
    flex-direction: column;
    &__content-text {
      // opacity: 1;
      width: 100%;
      height: 50%;
    }
    &__content-images {
      width: 340px;
      height: 460px;
    }
    &__description {
      font-size: 1rem;
      width: 90%;
      margin-top: 20px;
    }

    &__title {
      font-size: 2.5rem;
      width: 50%;
    }

    &__title::after {
      // width: 90%;
    }
  }
}

@media only screen and (max-width: $screenTablet) and (min-width: $screenPhone) {
  .aboutme {
    padding: 0;
    flex-direction: column;
    width: 100%;

    &__content-text {
      order: 0;
      width: 100%;
      height: 450px;
      opacity: 0;
    }

    &__content-images {
      order: 1;
      width: 400px;
      height: 550px;
    }
  }
}

@media only screen and (max-width: $screenLargeDestops) and (min-width: $screenTablet) {
  .aboutme {
    height: auto;
    width: 100%;
    max-width: 100%;
    padding: 0 50px;
    padding-top: 100px;

    &__content-images {
      order: 1;
      width: 340px;
      height: 460px;
    }

    &__content-text {
      order: 0;
      width: 50%;
      height: 550px;
      opacity: 0;
    }

    &__description {
      font-size: 1rem;
      width: 100%;
      margin-top: 20px;
    }
  }
}

