@import '../abstracts/variables';
@import '../abstracts/mixins';

// body::-webkit-scrollbar {
//   width: 8px;
//   height: 5px;
//   background-color: red;
// }

// body::-webkit-scrollbar-thumb {
//   width: 8px;
//   height: 5px;
//   background-color: blue;
// }

.projects {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  color: $colorFont;
  font-family: $fontPrimary;

  &__content {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 80%;
  }

  &__content-images {
    width: 400px;
    height: 200px;
    margin: 0 auto;
    opacity: 1;
    transition: opacity 500ms ease;
  }

  &__image {
    object-fit: cover;
  }

  &__multiple {
    display: grid;
    grid-template-rows: repeat(2, 50%);
    grid-template-columns: repeat(2, 50%);
    width: 70%;
    // height: 100%;
    // opacity: 0;
  }

  &__multiple-item {
    align-self: center;
    width: 70%;
    margin: 0 auto;
    border-radius: 5px;
    opacity: 1;
    transition-duration: 500ms;
    transition-property: background-color opacity;
  }

  &__single-item &__link-content {
    display: block;
    width: 300px;
    height: 680px;
    margin: 0 auto;
    text-decoration: none;
  }

  &__link-content {
    text-decoration: none;
  }

  &__multiple-item:hover,
  &__multiple-item:focus,
  &__multiple-item:hover &__content-images,
  &__multiple-item:focus &__content-images {
    background-color: $backgroundHover;
    opacity: 1;
  }

  &__name-proyect {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    color: $colorFont;
    font-size: 36px;
    text-align: center;
  }

  .show-fade-left {
    @include fade-left;
    opacity: 1;
  }

  .show-fade-top {
    @include fade-up;
    opacity: 1;
  }

  .show-fade-right {
    @include fade-right;
    opacity: 1;
  }

  .show-fade-bottom {
    @include fade-bottom;
    opacity: 1;
  }

  &__single {
    display: inline-block;
    width: 30%;
    height: 100%;
    opacity: 0;
  }

  &__single-video {
    display: block;
    width: 285px;
    height: 600px;
    margin: 0 auto;
    border: 2px solid $borderVideo;
    transition: box-shadow 500ms ease;
  }

  &__single-video:hover {
    box-shadow: 0 0 50px $backgroundHover;
  }

  &__single-item {
    width: 100%;
    height: 100%;
  }

  &__title {
    display: block;
    font-size: 84px;
    text-align: center;
    opacity: 0;
  }
}

@media only screen and (max-width: $screenPhone) {
  .projects {
    height: auto;
    padding-top: 100px;
    &__content {
      width: 100%;
      flex-direction: column;
    }

    &__content-images {
      // display: none;
      // background-color: blue;
      width: calc(100% - 30px);
      height: calc(100%);
      // opacity: 1;
    }

    &__multiple-item {
      width: 100%;
    }

    &__image {
      object-fit: contain;
      // display: none;
      width: 100%;
    }

    &__multiple {
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: repeat(1, 100%);
      gap: 30px;
      width: 100%;
    }

    &__name-proyect {
      font-size: 1.5rem;
    }
    &__single {
      padding-top: 50px;
      width: 100%;
      margin: 0 auto;
    }

    &__title {
      font-size: 2.5rem;
    }
  }
}

@media only screen and (max-width: $screenTablet) and (min-width: $screenPhone) {
  .projects {
    height: auto;
    // background-color: red;

    &__content {
      flex-direction: column;
    }

    &__multiple {
      // box-sizing: border-box;
      width: 100%;
      height: auto;
      // height: 50%;
      // display: none;
      // background-color: green;
      grid-template-rows: repeat(4, 1fr);
      padding: 5em 0;
      gap: 5em;
      grid-template-columns: repeat(1, 100%);
    }

    &__single {
      margin: 0 auto;
      width: 70%;
      height: 1000px;
    }

    &__single-item &__link-content {
      display: block;
      width: 500px;
      height: 680px;
    }

    &__single-video {
      margin: 0 auto;
      width: 485px;
      height: 900px;
    }

    &__multiple-item {
      width: 100%;
    }

    &__title {
      width: 100%;
    }
  }
}

@media only screen and (max-width: $screenLargeDestops) and (min-width: $screenTablet) {
  .projects {
    height: auto;

    &__content {
      flex-direction: column;
      height: auto;
    }
    &__multiple {
      margin: 10px auto;
      width: 100%;
    }
    &__single {
      padding-top: 20px;
      width: 100%;
    }

    &__single-video {
      margin: 0 auto;
      width: 385px;
      height: 800px;
    }

    &__single-item &__link-content {
      margin: 0 auto;
      width: 485px;
      height: 900px;
    }
  }
}
