// $primaryColor: #222831;
$primaryColor: #12141c;
$secundaryColor: #676060;
$swatch_3: #3f3697;
$colorFont: #fff;
$backgroundHover: rgba(128, 128, 128, 0.164);
$backgroundHoverIntensive: rgba(128, 128, 128, 0.425);
$colorHeader: #232946;
$colorTitleHeader: #fffffe;
$borderVideo: rgba(128, 128, 128, 0.164);

$colorParagraphHeader: #b8c1ec;
$colorSection: #d4d8f0;
$colorCard: #fffffe;
$colorTitleCard: #232946;
$colorParagrapgCard: #232946;

$fontPrimary: 'Cormorant Garamond', serif;
$fontThird: 'Nanum Myeongjo', serif;
$fontSecundary: 'Arima Madurai', cursive;
$fontLogo: 'Dancing Script', cursive;
$fontNumbers: serif;
